<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReaCraft</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/views/styles/homepage.css" />
    <link rel="stylesheet" type="text/css" href="http://tinyurl.com/25bnpr88" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="../views/styles/modals.css" />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>

    <!-- bootstrap bundle JS (includes popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- google platform library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body id="landing-page">
    <!-- slide 1 -->
    <span class="slide">
      <span class="floater">
        <button class="btn btn-primary btn-lg px-4" type="button" id="login">
          Login
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4"
          type="button"
          id="signup">
          Sign Up
        </button>
        <!-- dark mode switch -->
        <span id="dark-mode-switch-root">
          <span id="switch-base">
            <input type="checkbox" id="dark-mode-switch" />
            <span id="switch-thumb"></span>
            <span class="MuiTouchRipple-root"></span>
          </span>
          <span id="switch-track"></span>
        </span>
      </span>
      <div id="modalPlaceholder"></div>
      <div style="position: relative">
        <!-- Tutorial Object -->
        <div
          class="tutorial-container"
          style="position: absolute; z-index: 15; top: 40%; right: 10%">
          <span id="tutorialText" style="cursor: pointer">
            Tutorial
            <img
              style="width: 20px; height: 20px"
              alt="arrow"
              class="arrow"
              src="../assets/arrow.svg" />
          </span>
        </div>
        <!-- Meet Team Object -->
        <div
          class="meetTeam"
          style="position: absolute; z-index: 15; top: 45%; right: 10%">
          <span id="meetTeamText" style="cursor: pointer">
            Meet the Team
            <img
              style="width: 20px; height: 20px"
              alt="arrow"
              class="arrow"
              src="../assets/arrow.svg" />
          </span>
        </div>
        <!-- Logo Load In -->
        <div
          id="LogoContainer"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95vw;
            height: 90vh;
          "></div>
      </div>
    </span>
    <!-- slide 2 -->
    <span class="slide" id="tutorialSection">
      <span class="container" style="width: 90vw">
        <span>
          <!-- <fieldset class="slide2_Background">I love cheetos</fieldset> -->
          <div class="containerMain">
            <div class="containerLeft">
              <div class="instruction" onclick="showSlide(1)">
                Upload Design
              </div>
              <div class="instruction" onclick="showSlide(2)">
                Adding a New Component
              </div>
              <div class="instruction" onclick="showSlide(3)">
                Navigation Buttons
              </div>
              <div class="instruction" onclick="showSlide(4)">
                Border Color / Fill Options
              </div>
              <div class="instruction" onclick="showSlide(5)">
                Exporting Project
              </div>
              <div class="instruction" onclick="showSlide(6)">
                Keyboard Shortcuts
              </div>
            </div>
            <div class="containerRight">
              <div class="slidePage2" id="slide1">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/contruction.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
              <div class="slidePage2" id="slide2">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/contruction.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
              <div class="slidePage2" id="slide3">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/contruction.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
              <div class="slidePage2" id="slide4">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/contruction.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
              <div class="slidePage2" id="slide5">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/contruction.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
              <div class="slidePage2" id="slide6">
                <p
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  ">
                  <img
                    src="../assets/homepage/constructions2.svg"
                    class="construction"
                    alt="temp image"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 300px;
                    " />
                </p>
              </div>
            </div>
          </div>
        </span>
      </span>
    </span>
    <!-- slide 3 -->
    <span class="slide" id="teamSection">
      <div class="team-header">
        <h1>Meet the team</h1>
      </div>
      <span class="profiles-container">
        <span class="profile">
          <img
            src="../assets/1boy.png"
            class="profile-photos"
            alt="Amir Profile" />
          <div class="profile-name">Amir Munoz</div>
          <div class="link-container">
            <a href="https://github.com/Amunoz-1">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
        <span class="profile">
          <img
            src="../assets/1landing-page-girl.png"
            class="profile-photos"
            alt="Claire Profile" />
          <div class="profile-name">Claire Huang</div>
          <div class="link-container">
            <a href="https://github.com/clairehuang1008">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
        <span class="profile">
          <img
            src="../assets/1landing-page-girl.png"
            class="profile-photos"
            alt="Eunice Profile" />
          <div class="profile-name">Eunice Kim</div>
          <div class="link-container">
            <a href="https://github.com/eunykim92">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
      </span>
    </span>

    <!-- scripts are at the bottom of the body to ensure HTML elements above are loaded before the scripts run -->
    <script src="/views/scripts/slidesScript.js"></script>
    <script src="/views/scripts/homepageScripts.js"></script>
  </body>
</html>
