<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReaCraft</title>
    <link rel="stylesheet" type="text/css" href="/views/homepage.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap"
      rel="stylesheet" />

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/views/modals.css" />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>

    <!-- bootstrap bundle JS (includes popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function () {
        let mode = window.localStorage.getItem('mode');
        if (mode) $('*').addClass('dark');

        $('#switch-base').click((e) => {
          mode = window.localStorage.getItem('mode');
          if (mode) {
            $('*').removeClass('dark');
            window.localStorage.removeItem('mode');
          } else {
            $('*').addClass('dark');
            window.localStorage.setItem('mode', 'dark');
          }
        });
      });
    </script>
  </head>

  <body>
    <!-- slide 1 -->
    <span class="slide">
      <span class="floater">
        <button class="btn btn-primary btn-lg px-4" type="button" id="login">
          Login
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4"
          type="button"
          id="signup">
          Sign Up
        </button>
      </span>
      <div id="modalPlaceholder"></div>
      <div
        class="logo-container"
        width="800px"
        style="display: flex; flex-direction: column; text-align: center">
        <span display="flex" style="width: 60%; height: 70%">
          <img alt="Logo" class="logo" src="../assets/logo.svg" />
        </span>
        <span
          style="
            display: flex;
            justify-content: center;
            font-size: xx-large;
            font-weight: bolder;
            padding-top: 30px;
            text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.36);
          ">
          <p>Streamlining React Development from Design to Deployment</p>
        </span>
      </div>
    </span>
    <!-- slide 2 -->
    <span class="slide">
      <span class="container">
        <span>
          <!-- <fieldset class="slide2_Background">I love cheetos</fieldset> -->
          <div class="containerMain">
            <div class="containerLeft">
              <div class="instruction" onclick="showSlide(1)">
                Instruction 1
              </div>
              <div class="instruction" onclick="showSlide(2)">
                Instruction 2
              </div>
              <div class="instruction" onclick="showSlide(3)">
                Instruction 3
              </div>
              <div class="instruction" onclick="showSlide(4)">
                Instruction 4
              </div>
              <div class="instruction" onclick="showSlide(5)">
                Instruction 5
              </div>
              <div class="instruction" onclick="showSlide(6)">
                Instruction 6
              </div>
            </div>
            <div class="containerRight">
              <div class="slidePage2" id="slide1">Slide 1</div>
              <div class="slidePage2" id="slide2">Slide 2</div>
              <div class="slidePage2" id="slide3">Slide 3</div>
              <div class="slidePage2" id="slide4">Slide 4</div>
              <div class="slidePage2" id="slide5">Slide 5</div>
              <div class="slidePage2" id="slide6">Slide 6</div>
            </div>
          </div>
        </span>
      </span>
    </span>
    <!-- slide 3 -->
    <span class="slide">
      <div class="team-header">
        <h1>Meet the team</h1>
      </div>
      <span class="profiles-container">
        <span class="profile">
          <img
            src="../assets/1boy.png"
            class="profile-photos"
            alt="Amir Profile" />
          <div class="profile-name">Amir</div>
          <div class="link-container">
            <a href="https://github.com/Amunoz-1">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
        <span class="profile">
          <img
            src="../assets/1landing-page-girl.png"
            class="profile-photos"
            alt="Claire Profile" />
          <div class="profile-name">Claire</div>
          <div class="link-container">
            <a href="https://github.com/clairehuang1008">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
        <span class="profile">
          <img
            src="../assets/1landing-page-girl.png"
            class="profile-photos"
            alt="Eunice Profile" />
          <div class="profile-name">Eunice</div>
          <div class="link-container">
            <a href="https://github.com/eunykim92">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
        <span class="profile">
          <img
            src="../assets/1landing-page-girl.png"
            class="profile-photos"
            alt="Tanya Profile" />
          <div class="profile-name">Tanya</div>
          <div class="link-container">
            <a href="https://github.com/tanyahang">
              <img
                src="../assets/github-mark-white.svg"
                width="30px"
                alt="Github" />
            </a>
            <a href="https://www.linkedin.com">
              <img src="../assets/linked-in.svg" width="30px" alt="LinkedIn" />
            </a>
          </div>
        </span>
      </span>
    </span>
    <!-- scripts are at the bottom of the body to ensure HTML elements above are loaded before the scripts run -->
    <script>
      // when document is ready
      $(document).ready(function () {
        // attach click handler event to 'signup' button
        $('#signup').click(function (e) {
          // prevent default button action
          e.preventDefault();
          // load the 'signupModal.html' content into 'modalPlaceholder'
          $('#modalPlaceholder').load('/views/signupModal.html', function () {
            // show the 'signupModal' as a modal
            $('#signupModal').modal('show');
          });
        });

        // attach click event handler to 'login' button
        $('#login').click(function (e) {
          // prevent default button action
          e.preventDefault();
          // load the 'loginModal.html' content into 'modalPlaceholder'
          $('#modalPlaceholder').load('/views/loginModal.html', function () {
            // show the 'loginModa' as a modal
            $('#loginModal').modal('show');
          });
        });

        // attach input event handler to the 'username' field within 'loginModal'
        $(document).on('input', '#user', function () {
          // when the user types in the 'username' field
          let username = $(this).val().trim();
          // check if the 'username' field is not empty
          if (username) {
            // set the text of the element with class 'greeting-text' to 'Hello, username (input)!'
            $('.greeting-text').text('Hello, ' + username + '!');
          } else {
            // set the text of the element with the class 'greeting-text' to 'Hello, Friend!'
            $('.greeting-text').text('Hello, Friend!');
          }
        });

        // when the 'Need an account?' button is clicked within the login modal
        $(document).on('click', '#needAccount', function () {
          // prevent default button action
          e.preventDefault();
          // hide the login modal
          $('#loginModal').modal('hide');
          // unbind the previous hidden event handler to avoid stacking event calls
          $('#loginModal').on('hidden.bs.modal', function (e) {
            // load and show the signup modal
            $('#modalPlaceholder').load('/views/signupModal.html', function () {
              $('#signupModal').modal('show');
            });
          });
        });
        // when the 'Need an account?' button is clicked within the login modal
        $(document).on('click', '.needAccount', function () {
          // hide the login modal
          $('#loginModal').modal('hide');
          // unbind the previous hidden event handler to avoid stacking event calls
          $('#loginModal').on('hidden.bs.modal', function (e) {
            // load and show the signup modal
            $('#modalPlaceholder').load('/views/signupModal.html', function () {
              $('#signupModal').modal('show');
            });
          });
        });

        // when the 'Have an account?' button is clicked within the signup modal
        $(document).on('click', '.account-button', function (e) {
          // prevent default button action
          e.preventDefault();
          // hide the current modal
          $('#signupModal').modal('hide');
          // load the login modal after the signup modal is hidden
          $('#signupModal').on('hidden.bs.modal', function () {
            $('#modalPlaceholder').load('/views/loginModal.html', function () {
              // show the login modal
              $('#loginModal').modal('show');
            });
          });
        });
      });
    </script>
    <script src="slidesScript.js"></script>
  </body>
</html>
