<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.ico" />
    <title>ReaCraft</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/views/styles/homepage.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap bundle JS (includes popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../views/styles/modals.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- google platform library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body id="landing-page">
    <!-- slide 1 -->
    <span class="slide" style="position: relative">
      <span class="floater topbar-btns">
        <a
          href="https://github.com/oslabs-beta/ReaCraft"
          target="_blank"
          rel="noopener noreferrer"
          type="button"
          id="github"
          class="topbar-btn"
        >
          Github
        </a>

        <button type="button" id="login" class="topbar-btn">Login</button>
        <button type="button" id="signup" class="topbar-btn">Sign Up</button>
        <!-- dark mode switch -->
        <span id="dark-mode-switch-root">
          <span id="switch-base">
            <input type="checkbox" id="dark-mode-switch" />
            <span id="switch-thumb"></span>
            <span class="MuiTouchRipple-root"></span>
          </span>
          <span id="switch-track"></span>
        </span>
      </span>
      <div id="modalPlaceholder"></div>

      <div id="nav-btns" style="display: none">
        <a
          class="link"
          style="cursor: pointer"
          href="https://twitter.com/reacraft_org"
          target="_blank"
          rel="noopener noreferrer"
          id="medium-article"
        >
          Medium Article <i class="fa-brands fa-medium"></i>
        </a>
        <a
          class="link"
          style="cursor: pointer"
          href="https://linktr.ee/reacraftorg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Connect on
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-twitter-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
            />
          </svg>
        </a>
        <span id="tutorialText" style="cursor: pointer">
          Tutorial <i class="fa-regular fa-square-caret-down"></i>
        </span>
        <span id="meetTeamText" style="cursor: pointer">
          Meet the Team <i class="fa-regular fa-square-caret-down"></i>
        </span>
      </div>

      <!-- Logo Load In -->
      <span>
        <div>
          <div
            id="LogoContainer"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              width: 95vw;
              height: 90vh;
            "
          ></div>
        </div> </span
    ></span>
    <!-- slide 2 -->
    <span class="slide" id="tutorialSection">
      <div class="containerMain">
        <div class="containerLeft">
          <div class="instruction" onclick="showSlide(1)">
            <i class="fa-solid fa-file-import"></i>
            <span class="instruction-title">Design upload onto canvas</span>
            <p class="instructiontext desc1">
              Kickstart your project by uploading your web design to the canvas.
              Watch as your vision appears, ready for transformation into a
              dynamic web experience.
            </p>
          </div>
          <div class="instruction" onclick="showSlide(2)">
            <i class="fa-regular fa-square-plus"></i>
            <span class="instruction-title">Add components for design</span>
            <p class="instructiontext desc2">
              Elevate your design by intuitively adding web components with
              resizable rectangles, precisely defining their hierarchy through
              parent container selection.
            </p>
          </div>
          <div class="instruction" onclick="showSlide(3)">
            <i class="fa-solid fa-network-wired"></i>
            <span class="instruction-title">DOM tree visualizer</span>
            <p class="instructiontext desc3">
              Navigate the architecture of your design with the 'DOM Tree'
              viewer. Visualize the hierarchy and relationships of components in
              your design, making it easy to understand and manage the structure
              of your web project.
            </p>
          </div>
          <div class="instruction" onclick="showSlide(4)">
            <i class="fa-solid fa-palette"></i>
            <span class="instruction-title">Border color / Fill options</span>
            <p class="instructiontext desc4">
              Bring your design to life with vibrant precision with the 'Border
              Color/Fill' option. Select and apply your desired colors to
              component borders and fill areas, ensuring these styles are
              reflected in your exported design.
            </p>
          </div>
          <div class="instruction" onclick="showSlide(5)">
            <i class="fa-solid fa-laptop-code"></i>
            <span class="instruction-title">Development suite</span>
            <p class="instructiontext desc5">
              Maximize your project's potentional by accessing React code for
              each component, CSS code for the design page, add and navigate
              through multiple pages, and invite collaborators with ease. Zoom
              controls and intuitive design tools empower you to craft and
              refine your multi-page web application effortlessy.
            </p>
          </div>
          <div class="instruction" onclick="showSlide(6)">
            <i class="fa-solid fa-file-export"></i>
            <span class="instruction-title">Export project</span>
            <p class="instructiontext desc6">
              Transition from concept to code effortlessy with the exporting
              feature. Export to obtain React and CSS code, mirroring your
              design's components and styles. Open in your IDE and jumpstart
              development, transforming your visual concept into a functional
              web application.
            </p>
          </div>
        </div>
        <div class="containerRight">
          <div class="slidePage2" id="slide1">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Design Upload"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
          <div class="slidePage2" id="slide2">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Add Components"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
          <div class="slidePage2" id="slide3">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Dom Tree"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
          <div class="slidePage2" id="slide4">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Border Color Fill"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
          <div class="slidePage2" id="slide5">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Development Suite"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
          <div class="slidePage2" id="slide6">
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              "
            >
              <img
                class="construction"
                alt="Export"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1300px;
                "
              />
            </p>
          </div>
        </div>
      </div>
    </span>
    <!-- slide 3 -->
    <span class="slide" id="teamSection">
      <div>
        <h1 class="team-header mb-5">
          Meet the team <i class="fa-solid fa-users"></i>
          <!-- <i class="fa-solid fa-people-group"></i> -->
        </h1>
      </div>
      <span class="profiles-container container">
        <div class="row">
          <span class="profile col-sm-4">
            <img
              src="../assets/amir.jpeg"
              class="profile-photos"
              alt="Amir Profile"
            />
            <div class="profile-name">Amir Munoz</div>
            <div class="link-container">
              <a href="https://github.com/Amunoz-1">
                <!-- <img
                  src="../assets/github-mark-white.svg"
                  width="30px"
                  alt="Github"
                /> -->
                <i class="fa-brands fa-github fa-2xl"></i>
              </a>
              <a href="https://www.linkedin.com">
                <!-- <img
                  src="../assets/linked-in.svg"
                  width="30px"
                  alt="LinkedIn"
                /> -->
                <i class="fa-brands fa-linkedin fa-2xl"></i>
              </a>
            </div>
          </span>
          <span class="profile col-sm-4">
            <img
              src="../assets/claire.png"
              class="profile-photos"
              alt="Claire Profile"
            />
            <div class="profile-name">Claire Huang</div>
            <div class="link-container">
              <a href="https://github.com/clairehuang1008">
                <i class="fa-brands fa-github fa-2xl"></i>
              </a>
              <a href="https://www.linkedin.com">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
              </a>
            </div>
          </span>
          <span class="profile col-sm-4">
            <img
              src="../assets/eunice.png"
              class="profile-photos"
              alt="Eunice Profile"
            />
            <div class="profile-name">Eunice Kim</div>
            <div class="link-container">
              <a href="https://github.com/eunykim92">
                <i class="fa-brands fa-github fa-2xl"></i>
              </a>
              <a href="https://www.linkedin.com">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
              </a>
            </div>
          </span>
        </div>
      </span>
    </span>

    <!-- scripts are at the bottom of the body to ensure HTML elements above are loaded before the scripts run -->
    <script src="/views/scripts/slidesScript.js"></script>
    <script src="/views/scripts/homepageScripts.js"></script>
  </body>
</html>
