<div
  class="logo-container"
  style="justify-content: center; align-items: center; position: relative">
  <!-- Logo - Circle Black -->
  <div
    class="logo-container"
    style="
      position: relative;
      width: 80vw;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
    ">
    <!-- <img
      src="../assets/homepage/ReactLogoLayers/01_Circle_Black.svg"
      style="position: absolute; width: 100%; height: 100%; z-index: 1" /> -->
    <img
      alt="Logo"
      class="logo rotate-in-ver"
      src="../assets/homepage/ReactLogoLayers/02_Ring_1.svg"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
      " />
    <img
      alt="Logo"
      class="logo2 rotate-in-ver2"
      src="../assets/homepage/ReactLogoLayers/02_Ring_2.svg"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 3;
      " />
    <img
      alt="Logo"
      class="logo3 rotate-in-ver3"
      src="../assets/homepage/ReactLogoLayers/02_Ring_3.svg"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 4;
      " />
    <img
      alt="Logo Letters"
      class="logo-letters"
      src="../assets/homepage/ReactLogoLayers/4_RC_Letters.svg"
      style="position: absolute; width: 100%; height: 100%; z-index: 5" />
  </div>
  <span style="height: 3vh"> </span>
  <div class="quoteContainer">
    <p
      class="quoteWords"
      style="
        width: 100%;
        font-weight: bolder;
        text-align: center;
        text-shadow: 4px 3px 10px rgba(47, 47, 47, 0.124);
        font-size: 3vw;
      ">
      Streamlining React Development from
    </p>
    <p
      class="quoteWords2"
      style="
        width: 100%;
        font-weight: bolder;
        text-align: center;
        text-shadow: 4px 3px 10px rgba(47, 47, 47, 0.124);
        font-size: 3vw;
        margin-top: -2vh;
      ">
      Design to Deployment
    </p>
  </div>
</div>
