@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

/* font-family: 'Baloo Bhaijaan 2', sans-serif; */

@keyframes slideUp {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0);
  }
}

body {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  margin: 0;
  overscroll-behavior-y: contain;
  padding: 0;
  scroll-snap-type: y mandatory;
}

html {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.logo {
  filter: drop-shadow(2px 2px 3px #2a2a2a);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.slide {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  width: 100%;
}

.slide:nth-child(1) {
  background-color: #778da9;
  z-index: 4;
}

.slide:nth-child(2) {
  background-color: #415a77;
  z-index: 2;
}

.slide:nth-child(3) {
  background-color: #778da9;
  flex-direction: column;
  z-index: 1;
}

.slide2_Background {
  animation: slideUp 3.5s ease-out forwards;
  animation-delay: 1.5s;
  font-size: 65px;
  position: relative;
  z-index: 1;
}
