@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  margin: 0;
  overscroll-behavior-y: contain;
  padding: 0;
  scroll-snap-type: y mandatory;
}

html {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.slide {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  width: 100%;
}

.slide:nth-child(1) {
  background-color: #778da9;
  z-index: 4;
}

.slide:nth-child(2) {
  background-color: #415a77;
  z-index: 2;
}

.slide:nth-child(3) {
  background-color: #778da9;
  flex-direction: column;
  z-index: 1;
}

.reacraft {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a,
  p {
    color: #b8b6b1;
    font-size: larger;
  }
}
