:root {
  --accent: #d9d0c7;
  --background: #f4f3f7;
  --text: #2c2c2c;
  --darkbackground: #415a77;
  --accentLogo: #bdbbb6;
}

.modal-content {
  /* background: white; */
  background: var(--background);
  border-radius: 2px;
  padding: 20px;
  height: 80vh;
  width: 30vw;
  max-height: 700px;
  min-height: 650px;
  min-width: 450px;
  /* position: relative; */
  font-family: 'Baloo Bhaijaan 2', sans-serif;
}

.alert {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 10; 
  text-align: center;
}

@media (min-width: 1080px) and (min-height: 960px) {
  .modal-content {
    max-height: 700px;
    height: 700px;
  }

  .html {
    max-width: 1000px;
  }
}

@media (max-width: 800) and (max-height: 600) {
  .html {
    min-width: 600px;
    min-height: 800px;
  }
}

.modal-header {
  border-bottom: none;
  position: relative;
  margin-bottom: 0;
}

.modal-body p {
  text-align: center;
  max-height: 800px;
  min-height: 650px;
  min-width: 450px;
  /* margin-top: 5%; */
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.greeting-text {
  font-size: 3em;
  /* color: #d5bdaf; */
  display: flex;
  flex-direction: column;
  color: var(--accentLogo);
  /* margin-bottom: 10px; */
  justify-content: center;
  align-items: center;

  .alert {
    font-size: 12px;
  }
}

.signup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-floating {
  /* space between input fields */
  margin-bottom: 10px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #cccccc;
  border-radius: 0;
  margin-bottom: 15px;
  background-color: var(--background);
  color: #6C757D;
}

.form-control:focus {
  /* color: var(--accentLogo); */
  color: #6C757D;
  background-color: var(--background);
  border-color: #d5bdaf;
  outline: none !important;
  /* removes the default bootstrap shadow */
  box-shadow: none;
}

.btn-outline-secondary,
.btn-primary {
  border-radius: 20px;
  border-color: #0056b3;
}

.account-button {
  color: #fff;
  /* background-color: #a9978c; */
  background-color: var(--accentLogo);
  /* border-color: #a9978c; */
  border-color: var(--accent);
}

.account-button:hover {
  /* background-color: #7f7169; */
  background-color: var(--accent);
  /* border-color: #7f7169; */
  border-color: var(--accentLogo);
}

/* button for login */
.btn-primary {
  /* background-color: #d5bdaf; */
  background-color: var(--accent);
  /* border-color: #d5bdaf; */
  border-color: var(--accentLogo);
}

.needAccount {
  /* border-color: #d5bdaf; */
  border-color: var(--accent);
}

.btn-primary:hover {
  /* background-color: #e0d0c7; */
  background-color: var(--accentLogo);
  /* border-color: #e0d0c7; */
  border-color: var(--accent);
}

.needAccount:hover {
  /* background-color: #beaa9d; */
  background-color: var(--accent);
  /* border-color: #beaa9d; */
  border-color: var(--accentLogo);
}

.btn-google {
  /* background-color: #c1bdaf; */
  background-color: var(--accentLogo);
  color: #fff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 5%;
}

.btn-google:hover {
  /* background-color: #e0d0c7; */
  background-color: var(--background);
  color: white;
}

.divider-or {
  position: relative;
  font-size: 0.9em;
  color: #999;
  margin: 10px 0;
}

.divider-or::before,
.divider-or::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #999;
}

.divider-or::before {
  right: 1%;
  margin-right: 15px;
}

.divider-or::after {
  left: 1%;
  margin-left: 15px;
}

.btn-google {
  /* background-color: #c1bdaf; */
  background-color: var(--accentLogo);
  color: #fff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.btn-google:hover {
  /* background-color: #e0d0c7; */
  background-color: var(--accent);
  color: white;
}

.divider-or {
  position: relative;
  font-size: 0.9em;
  color: #999;
  margin: 10px 0;
}

.divider-or::before,
.divider-or::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #999;
}

.divider-or::before {
  right: 1%;
  margin-right: 15px;
}

.divider-or::after {
  left: 1%;
  margin-left: 15px;
}

.dark .modal-content {
  /* background: #8d99ae; */
  background: var(--darkbackground);
}

.dark .greeting-text {
  color: white;
}
/* username and password form control */
.dark .form-control {
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  color: #ffffff;
}

.dark .form-control:focus {
  color: white;
  background-color: transparent;
  border-color: #a8a9b0;
  box-shadow: none;
}

.dark .btn-primary {
  background-color: #555667;
  border-color: #555667;
}

.dark .btn-primary:hover {
  background-color: #6a6c7a;
  border-color: #6a6c7a;
}

.dark .needAccount {
  border-color: #26283b;
  color: white;
}

.dark .needAccount:hover {
  background-color: #92939d;
  border-color: #92939d;
}

.dark .account-button {
  background-color: #26283b;
  border-color: #26283b;
}

.dark .account-button:hover {
  background-color: #92939d;
  border-color: #92939d;
}

.dark .divider-or {
  color: white;
}

.dark .divider-or::before,
.dark .divider-or::after {
  background: white;
}

.dark .btn-google {
  background-color: #767785
}

.dark .btn-google:hover {
  background-color: #92939d;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0;
}
