.container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    margin-top: 40%;
}

.svgBackground {
    width: 100%;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.content {
    position: absolute;
    z-index: 1;
}