.code-block-tab {
  font-family: 'Monaco', Courier, monospace !important;
  text-transform: none !important;
  font-size: 1rem !important;
  color: #bdbbb6 !important;
}

.tab-styles {
  // background-color: #f4f3f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
  max-width: 100%;
}
