.code-block-tab {
  font-family: 'Monaco', Courier, monospace !important;
  text-transform: none !important;
  font-size: 1rem !important;
  color: #70706E !important;
}

.tab-styles {
  background-color: #ffffff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 15px; 
  padding: 10px; 
  max-width: 100%;
}