.background-picker {
  .MuiInputBase-input {
    display: none !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }

  .MuiButtonBase-root {
    position: absolute;
    right: -5px;
    top: 0;
    height: 30px;
    box-shadow: none;
    background-color: #415a77;
  }

  padding: 0 !important;
  padding-right: 5px !important;
}

.MuiButtonGroup-root {
  .MuiButtonBase-root {
    height: 30px;
    width: 40px;
    color: '#bdbbb6';
    border-color: '#2c2c2c';
  }
}
